* {
	padding: 0;
	margin: 0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.sidebar {
	background-color: rgb(0, 174, 255);
}
header {
	background-color: rgb(0, 174, 255);
	border: 2px solid;
	width: 100%;
	position: fixed;
	z-index: 1;
    margin-top: -0,5px;
}
header h1 {
	float: left;
	padding: 15px;
	color: #000000;
}
header ul li {
	display: inline-block;
}
header ul li a {
	float: right;
	padding: 25px 25px;
	display: inline-block;
    color: aliceblue;
}
.navigator {
	color: rgb(9, 8, 8);
	
}
.nav {
	background-color: rgb(0, 174, 255);
	float: right;
}
section img {
	border-radius: 50%;
	display: block;
	margin-top : 30px; 
    margin-bottom: 10px;
    padding-top: 80px ;
    padding-bottom: 80px;
	width: 300px;
	height: 300px;
}
label{
    color:rgb(251, 253, 255);
}
h3 {
	text-align: center;
	margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 0px;
	margin-left: 30;
	font-family: 'Optima', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
    color: aliceblue;
}
p {
	text-align: center;
	margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: -50px;
	font-family: , 'Optima', sans-serif;
	font-size: x-large;
    color: aliceblue;
}
.display {
	max-width: 100%;
	height: 30px;
	border: 2px solid black;
	background-color: rgb(0, 174, 255);
}
section h1 {
	text-align: center;
	font-family: 'optima', sans-serif;
	font-size: x-large;
}
.background {
    height: 600px;
    background-image: url("https://i.pinimg.com/564x/a3/c4/94/a3c494dd02285b65db8a538926967074.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.background .dua {
  align-items: center;
   
}
.paragraf {
    height: 600px;
    background-image: url("https://i.pinimg.com/564x/a3/c4/94/a3c494dd02285b65db8a538926967074.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.input{
    height: 600px;
    background-image: url("https://i.pinimg.com/564x/a3/c4/94/a3c494dd02285b65db8a538926967074.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.paragraf tr td  {
	padding: 50px;
	margin-left: 40px;
}
.ini{
	
 margin-top: 90px;
 background-color: aqua;
}
.ini h4{
    margin-bottom: 90px;
}
.rate {
	text-align: center;
	border: 2px solid black;
	background-color: rgb(0, 174, 255);
	
}
footer{
	text-align: center;
	border: 2px solid black;
	background-color: rgb(0, 174, 255);
}
section h4 {
	text-align: center;
}
.another {
	text-align: center;
}
  label {
	font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="phone"],
  textarea {
	width: 30%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  select {
	text-align: center;
	width: 30%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  input[type="submit"] {
	text-align: center;
	background-color: #4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
  }
  input[type="submit"]:hover {
	text-align: center;
	background-color: #45a049;
  }
  textarea {
	text-align: center;
	height: 50px;
  }
  /* Optional: Styling untuk elemen <h1> pada bagian "Form Data Diri" */
  #about {
	color: #000000;
	margin-bottom: 20px;
  }
  