<style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: orange;
        }
        .content{
            background-color: aqua;
        }
    </style>